*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* google fonts*/

 .inter-font {
     font-family: "Inter", sans-serif;
     font-weight: 400;
   }
 
   .playwrite-font {
     font-family: "Playwrite CU", cursive;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
   }
 
   /* body section */

   #body-section{
     width:100%;
     background: rgb(0, 0, 0);
     color: white;
     font-family: inter;/
   }

   .container{
     max-width:80%;
     margin: 0 auto;
   }
 
   /* header section design*/

   #navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 50px;
     padding: 0px 15px;
   }
 
   #navbar h2{
     font-size: 36px;
     font-weight: 800;
     color: rgb(230, 83, 60);
     font-style: italic;
   }
 
   #navbar ul {
     display: flex;
   } 
 
   #navbar ul li{
     list-style: none;
     margin-left: 25px;
     padding: 8px 20px;
     font-size: 18px;
     font-weight: 400;
   }
   #navbar ul li:nth-child(1){
     margin-left: 0px;
     border-radius: 46px;
     font-size: 18px;
     font-weight: 600;
     background-color: rgb(230, 83, 60);
   }
   #navbar ul li a{
     text-decoration: none;
     color: white;
   }
 
 /* bars humbergur desktop responsive*/

 @media screen and (min-width: 576px){
     #navbar ul li:last-child{
         display: none;
     }
 }
 @media screen and (max-width: 576px){
     #navbar ul li:last-child{
         display: block;
         margin: 0 10px 0 0;
         padding: 0;
     }
 }
 /* header section responsive */

 @media screen and (max-width: 576px){
     .container{
         max-width: 100%;
     }
     #navbar{
         justify-content: space-between;
         margin-top: 30px;
     }
 
     #navbar ul li{
         display: none;
     }
 
     #navbar h2{
         font-size: 30px;
     }   
 }
 /* header banner section design*/
 .banner-section{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 32px;
 }
 
 .banner-content{
     width: 45%;
 }
 .banner-text-container h2{
     font-size: 60px;
     line-height: 120%;
     margin-bottom: 20px;
 }
 .banner-text-container h2 > span{
     font-family: "Playwrite CU", cursive;
     font-weight: 300;
 }
 .banner-text-container p{
     font-size: 16px;
     color: rgba(255, 255, 255, 0.5);
     margin-bottom: 28px;
 }
 
 .banner-content button{
     border-radius: 42px;
     background-color: rgb(230, 83, 60);
     width: 224px;
     height: 54px;
     font-family: inter;
     font-size: 18px;
     font-weight: 600;
     color: white;
     border: none;
     outline: none;
     cursor: pointer;
     margin-right: 10px;
 }
 .banner-content button:last-child{
     background: transparent;
     border: 1px solid rgb(255, 255, 255);
     margin-right: 0;
 }
 .banner-image{
     width: 35%;
     height: 550px;
     position: relative;
 }
 
 .banner-image .image-box{
     width: 100%;
     height: 100%;
 }
 
 .banner-image .image-box img{
     width: 100%;
     height: 100%;
 }
 
 .banner-image .box{
     position: absolute;
     border: 1px solid rgba(255, 255, 255, 0.1);
     background: rgba(48, 48, 48, 0.54);
     padding: 10px 20px;
     border-radius: 12px;
 }
 
 .banner-image .box1 h2{
     font-size: 35px;
 }
 .banner-image .box2 h2{
     font-size: 24px;
 }
 .banner-image .box p{
     font-size: 16px;
     font-weight: 400;
     color: rgba(239, 237, 232, 0.65);
 }
 .banner-image .box1{
     top: 124px;
     right: 0;
 }
 
 .banner-image .box2{
     display: flex;
     align-items: center;
     justify-content: center;
     top: 76%;
     left: 0px;
 }
 
 .banner-image .box2 .box-icon i{
     margin-right: 10px;
     font-size: 25px;
     color: rgb(230, 83, 60);
 }
 
 /* Responsive banner section */

 @media screen and (max-width: 576px){
     .banner-section{
         flex-direction: column;
         margin-top: 20px;
     }
     
     .banner-content{
         width: 100%;
         padding: 15px;
     }
     
     .banner-text-container h2{
         font-size: 36px;
         line-height: 120%;
         margin-bottom: 15px;
     }
     
     .banner-content button{
         border-radius: 42px;
         background-color: rgb(230, 83, 60);
         width: 150px;
         height: 40px;
         font-family: inter;
         font-size: 16px;
         font-weight: 600;
         color: white;
         border: none;
         outline: none;
         cursor: pointer;
         margin-right: 6px;
     }
     .btn-box{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
     }

     /* banner image responsive */

     .banner-image{
         width: 100%;
         height: 500px;
         margin-top: 35px;
     }
 
     .banner-image .image-box{
         width: 100%;
         height: 100%;
     
     } 
     .banner-image .box1{
         top: 15%;
         right: 3%;
     }
     .banner-image .box1 h2{
         font-size: 30px;
     }
     .banner-image .box p{
         font-size: 10px;
     }
     .banner-image .box2{
         left: 3%;
         bottom: 10%;
     }
 }

 /*change-the-habits section*/

 .change-the-habits-container{
     width: 1044px;
     margin : 100px auto;
 }
 
 .habits-content{
     width: 670px;
     text-align:center;
     margin: 0 auto;
     padding: 10px;
 }
 .habits-content h2{
     font-size: 48px;
     font-weight: 900;
     color: rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 
 .habits-content p{
     font-size: 14px;
     font-weight: 400;
     color:  rgba(255, 255, 255, 0.5);
     margin-bottom: 54px;
 }

 /* cards design */

 .habits-cards{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }
 .card{
     text-align: center;
     width: 231px;
 }
 
 .card img{
     width: 150px;
     height: 150px;
     border-radius: 100%;
     margin-bottom: 30px;
     border: 0.5px solid rgb(255, 255, 255); 
 }
 
 .card-text h3{
     font-size: 18px;
     font-weight: 600;
     color: rgb(255, 255, 255); 
     margin-bottom: 6px;
 }
 
 .card-text p{
     font-size: 14px;
     color:  rgba(255, 255, 255, 0.5);
 }
 
 /* responsive the change habits section */

 @media screen and (max-width: 576px){
     .change-the-habits-container{
         width: 100%;
         margin-top: 50px;
         margin-bottom: 50px;
     }
     .card {
         width: 100%;
         margin: 0 auto;
         margin-top: 40px;
     }
 
     .card-container{
         width: 60%;
         margin: 0 auto;
     }
     .habits-content{    
         width: 100%;
         text-align:center;
         margin: 0 auto;
     }
     .habits-content h2{
         font-size: 32px;
         font-weight: 900;
         color: rgb(255, 255, 255);
         margin-bottom: 10px;
     }
     .habits-content p{
         font-size: 14px;
         font-weight: 400;
         color:  rgba(255, 255, 255, 0.5);
         margin-bottom: 0px;
     }
 
     /* card */

     .habits-cards{
         flex-direction: column;
     }
 
     .card img{
         width: 150px;
         height: 150px;
     }
     .card img{
         margin-bottom: 20px;
     }
     
 }
 
 /* join team design */

 .join-team{
     width: 1060px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     background-color: rgb(34, 34, 34);
     padding: 30px 60px;
     border-radius: 18px;
 }
 .join-team-content{
     max-width: 443px;
 }
 .join-team-content h2{
     font-size: 48px;
     font-weight: 900;
     color: rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 
 .join-team-content p{
     font-size: 14px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
     margin-bottom: 50px;
     line-height: 24px;
 }
 
 .join-team-content button{
     border-radius: 42px;
     background-color: rgb(230, 83, 60);
     width: 224px;
     height: 54px;
     font-family: inter;
     font-size: 18px;
     font-weight: 600;
     color: white;
     border: none;
     outline: none;
     cursor: pointer;  
 }
 .join-team .join-team-image{
     width: 366px;
     height: 312px;
     border-radius: 18px;
 }
 .join-team-image img{
     width: 100%;
     height: 100%;
     border-radius: 18px;
 }

 /* Join Team section Responsive*/

 @media screen and (max-width: 576px){
     .join-team{
         width: 90%;
         margin: 0 auto;
         flex-direction: column;
         padding: 20px;
     }
     .join-team-content{
         width: 100%;
     }
     .join-team-content h2{
         font-size: 32px;
         font-weight: 900;
     }
     .join-team-content .btn{
         text-align: center;
         margin-bottom: 31px;
     }
     .join-team-content p{
         margin-bottom: 30px;
     }
     .join-team .join-team-image{
         width: 100%;
         border-radius: 18px;
     }
     .join-team-image img{
         width: 100%;
         height: 100%;
     }
 }
 
 /* training experiense design*/

 .training-experience{
     width: 1060px;
     margin:100px auto;
 }
 .training-content{
     width: 640px;
     margin-bottom: 50px;
 }
 .training-content h2{
     font-size: 48px;
     font-weight: 900;
     color:rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 .training-content p{
     font-size: 14px;
     font-weight: 400;
     color:rgba(255, 255, 255, 0.5);
 }
 .training-image .row1{
     display: grid;
     grid-template-columns: 300px auto 300px;
     gap: 5px;
     margin-bottom: 5px;
 }
 .training-image .row1 div{
     height: 250px;
 }
 
 .training-image .row1 div img{
     width: 100%;
     height: 100%;
 }

 /* row 2 */

 .training-image .row2{
     display: grid;
     grid-template-columns: auto 350px 250px;
     gap: 5px;
 }
 .training-image .row1 .text,
 .training-image .row2 .text{
     color: white;
     font-weight: bold;
 }
 
 .training-image .row2 div{
     height: 250px;
 }
 .training-image .row1 .image-box1{
     background: rgba(6, 255, 210, 0.5) url('../images/exercise1.jpg');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .training-image .row1 .image-box2{
     background: rgba(255, 0, 0, 0.3) url('../images/exercise2.png');
     background-size: cover;
     background-position: center;
     background-blend-mode : darken;
 }
 .training-image .row1 .image-box3{
     background: rgba(0, 0, 0, 0.5) url('../images/exercise3.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }

 /* row2 */

 .training-image .row2 .image-box1{
     background: rgba(0, 0, 0, 0.5) url('../images/exercise4.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
     position: relative;
 }
 
 .training-image .row2 .image-box2{
     background: rgba(66, 255, 0, 0.3) url('../images/exercise5.jpg');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .training-image .row2 .image-box3{
     background: rgba(0, 71, 255, 0.3) url('../images/exercise6.jpg');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }

 /* training section Responsive*/

 @media screen and (max-width: 576px){
     .training-experience{
         width: 100%;
     }
     .hidden-section{
         display: none;
     }
 }

 /* BMI Calculator design*/
 
 .bmi-content{
     width: 671px;
     margin: 0 auto;
 }
 
 .mbi-calculator{
     width: 100%;
     height: auto;
     background-color: rgb(34, 34, 34);
     display: flex;
     justify-content: center;
     padding: 52px 0;
     
 }

 /* calculator chart */

 .calculator-chart{
     width: 443px;
 }
 .calculator-chart h2{
     font-size: 28px;
     font-weight: 900;
     color: rgb(255, 255, 255);
     margin-bottom: 50px;
 }
 .calculator-chart table, tr, th, td{
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-collapse: collapse;
     padding: 10px 15px;
     width: 350px;
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
 }

 /*bmi calculator */

 .calculator .mbi-content{
     width: 671px;
     margin: 0px auto 88px auto;
 }
 
 .mbi-content h2{
     font-size: 48px;
     font-weight: 900;
     color:rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 .mbi-content p{
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: rgba(255, 255, 255, 0.5);
 }
 .your-bmi-calculator{
     width: 577px;
 }
 .your-bmi-calc-content{
     margin-bottom: 30px;
 }
 .your-bmi-calculator h2{
     font-size: 28px;
     font-weight: 900;
     color: rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 .your-bmi-calculator p{
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: rgba(255, 255, 255, 0.5);
 }

 /* bmi form */

 .your-bmi-calculator form{
     width: 100%;
 }
 .your-bmi-calculator form .input-box1{
     display: flex;
     justify-content: space-between;
 }
 .your-bmi-calculator form input,
 .your-bmi-calculator form select{
     padding: 12px 20px;
     margin-bottom: 12px;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.6);
     background-color: rgba(255, 255, 255, 0.1);
     border: none;
     outline: none;
 }
 .your-bmi-calculator form .input-box1 input{
    width: 49%;
 }
 
 .your-bmi-calculator form select option{
     color: #333;
 }
 
 form .input-box2{
     display: flex;
     justify-content: space-between;
 }
 form .input-box2 input,
 form .input-box2 select{
     width: 49%;
 } 
 
 form select[id="activity"]{
     width: 100%;
 }
 
 form input[type="submit"]{
     border-radius: 42px;
     background-color: rgb(230, 83, 60);
     width: 224px;
     height: 54px;
     font-size: 18px;
     font-weight: 600;
     color: white;
     border: none;
     outline: none;
     cursor: pointer; 
     margin-top: 25px;
 }

 /* Responsive Calculator*/

 @media screen and (max-width: 576px){
     .calculator{
         margin-top: 20px;
     }
     .calculator .mbi-content{
         width: 100%;
         padding: 15px;
         margin-bottom: 32px;
     }
     .calculator .mbi-content h2{
         font-size: 32px;
     }
 
     .mbi-calculator{
         flex-direction: column;
     }

     /* calculator chart */

     .calculator-chart{
         width: 100%;
         margin: 0 auto;
         padding: 0 15px;
     }
     .calculator-chart h2{
         font-size: 18px;
         font-weight: 900;
         margin-bottom: 23px;
     }
     .calculator-chart table, tr{
         width: 100%;
     }
     .your-bmi-calculator{
         width: 100%;
         padding: 0px 15px;
         margin-top: 42px;
     }
     .your-bmi-calculator h2{
         font-size: 18px;
         font-weight: 900;
         margin-bottom: 23px;
         margin-bottom: 14px;
     }
     
 }
 
 /* Our Team section design */

 .my-team-container{
     width: 1060px;
     margin: 0 auto;
     margin-top: 88px;
 }

 /* team content */

 .team-content{
     width: 670px;
     margin: 0 auto 58px auto; 
     text-align: center;
 }
 
 .team-content h2{
     font-size: 48px;
     font-weight: 900;
     color:rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 
 .team-content p{
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: rgba(255, 255, 255, 0.5);
 }
 
 .team-people-image{
     background-color: rgb(34, 34, 34);
     padding: 20px;
     border-radius: 18px;
 }
 .team-people-image .team-img{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 15px;
 }
 
 .team-people-image .team-img .box{
     width: 326px;
     height: 270px;
     margin: 0 auto;
     border-radius: 18px;
     position: relative;
 }
 .team-people-image .team-img .box-text{
     position: absolute;
     left: 10%;
     bottom: 10%;
 }
 
 .team-people-image .team-img .box-text p{
     color: #999;
     margin-top: 5px;
 }
 
 .team-people-image .team-img .img-box1{
     background: rgba(0, 0, 0, 0.3) url('../images/trainer1.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .team-people-image .team-img .img-box2{
     background:rgba(0, 0, 0, 0.3)url('../images/trainer2.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .team-people-image .team-img .img-box3{
     background: rgba(0, 0, 0, 0.3) url('../images/trainer3.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .team-people-image .team-img .img-box4{
     background: rgba(0, 0, 0, 0.3) url('../images/trainer4.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .team-people-image .team-img .img-box5{
     background: rgba(0, 0, 0, 0.3) url('../images/trainer5.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }
 .team-people-image .team-img .img-box6{
     background: rgba(0, 0, 0, 0.3)url('../images/trainer6.png');
     background-size: cover;
     background-position: center;
     background-blend-mode: darken;
 }

 /* Responsive the Team section */

 @media screen and (max-width: 576px){
     .team-content{
         width: 90%;
         margin:0 auto 37px auto;
     }
     .team-content h2{
         font-size: 32px;
     }
     .team-people-image .team-img{
         grid-template-columns: 1fr;
     }
     .team-people-image{
         width: 95%;
         margin: 0 auto;
         border-radius: 18px;
     }
 
     .team-people-image .team-img .box{
         width: 100%;
     }
 }
 
 
 /* Challenging section design */

 .why-choose-us{
     width: 100%;
     background-color: gray;
     padding: 50px 0px;
     margin-top: 88px;
 }
 
 .choose-container{
     width: 1300px;
     margin: 0 auto;
 }
 
 /* choose-content */

 .choose-content{
     max-width: 80%;
     margin: 0 auto 60px auto;
     text-align: center;
 }
 
 .choose-content h1{
     font-size: 48px;
     font-weight: 900;
     color: #2c3e50;
     margin-bottom: 24px;
 }
 .choose-content p{
     font-size: 16px;
     font-weight: 400;
     color:#2c3e50;
 }

 /* our service container */

 .our-service-container{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 /* our-service */


 .service-card1 {grid-area: service-card1;}
 .service-card2 {grid-area: service-card2;}
 .service-card3 {grid-area: service-card3;}
 .service-card4 {grid-area: service-card4;}
 .our-service{
     max-width: 60%;
     display: grid;
     grid-template-areas:
     'service-card1 service-card2'
     'service-card3 service-card4';
     gap: 10px;
     margin-right: 20px;
 }
 
 .our-service .service-box{
     background-color: black;
     padding: 20px 20px;
     border-radius: 10px;
     transition: 0.2s;
 }
 .our-service .service-box:hover{
     background-color:#34495e;
 }
 
 .service-box .service-icon{
     width: 50px;
     height: 50px;
     background-color: rgba(255, 255, 255, 0.1);
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     margin-bottom: 10px;
 }
 
 .service-box .service-icon i{
     font-size: 25px;
     color: tomato;
 }
 
 .service-box h2{
     color: rgb(255, 255, 255);
     margin-bottom: 10px;
     color:#d35400;
 }
 .service-box p{
     color: #bdc3c7;
 }
 
 /* service image */

 .image1 {grid-area: image1;}
 .image2 {grid-area: image2;}
 .image3 {grid-area: image3;}
 .service-images{
     max-width: 40%;
     display: grid;
     grid-template-areas: 
     'image1 image2'
     'image3 image2';
     gap: 15px;
 }
 
 .service-images div{
     width: 100%;
     border-radius: 18px;
 }
 
 .service-images div img{
     width: 100%;
     height: 100%;
     border-radius: 24px;
     border: 1px solid #333;
 }

 /* Responsive the challenging section */

 @media screen and (max-width: 576px){
     .why-choose-us{
         padding: 30px 10px;
     }
     .choose-container{
         width: 100%;
     }
     .choose-container .choose-content{
         width: 100%;
         text-align: left;
         margin: 0 0 30px 0;
         padding: 6px;
     }
     .choose-content {
         max-width: 100%;
     }
     .choose-content h1{
         font-size: 36px;
         margin-bottom: 15px;
     }

     /* our service container */

     .our-service-container{
         flex-direction: column-reverse;
     }

     /* our service */

     .our-service{
         grid-template-areas: 
         'service-card1'
         'service-card2'
         'service-card3'
         'service-card4';
         margin-top: 20px;
         margin-right: 0px;
     }
 
     .our-service{
         max-width: 100%;
     }

     /* our service image */

     .service-images{
         max-width: 100%;
         grid-template-areas: 
         'image1 image2'
         'image3 image3';
         gap: 10px;
     }
     .service-images div{
         width: 100%;
         height: 200px;
         border-radius: 10px;
     }
 
     .service-images div img{
         width: 100%;
         height: 100%;
         border-radius: 10px;
     }
 }
 
 /* Footer design section starts here */

 #my-footer-section{
     background-color: rgba(255, 255, 255, 0.1);
     max-width: 100%;
     margin-top: 88px;
     padding-bottom: 66px;
 }
 
 .footer-text-container{
     width: 1060px;
     margin: 0 auto;
     padding: 66px 0px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-brand-content{
     width:45%;
 }
 
 .footer-brand-content h2{
     font-size: 70px;
     font-weight: 900;
     color: rgb(230, 83, 60);
     font-style: italic;
     margin-bottom: 20px;
   }
 
 .footer-brand-content p{
     font-size: 18px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
 }
 .get-start-container{
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 .get-start-box h3{
     font-size: 32px;
     font-weight: 700;
     color:rgb(255, 255, 255);
     margin-bottom: 35px;
 }
 
 .get-start-box ul li{
     list-style: none;
     font-size: 23px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
     margin-bottom: 20px; 
 }
 .get-start-box ul li:last-child{
     margin-bottom: 0;
 }
 .copy-right{
     width: 1060px;
     margin: 0 auto;
     text-align: center;
 }
 
 .copy-right .drowline{
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     margin-bottom: 36px;
 }
 .copy-right p{
     color: rgba(255, 255, 255, 0.5);
 }

 /* Responsive Footer section */

 @media screen and (max-width: 576px){
     .footer-text-container{
         width: 100%;
         flex-direction: column;
         justify-content: start;
         padding: 60px 15px;
     }
 
     .footer-brand-content{
         width:100%;
     }
     .get-start-container{
         width: 100%;
         flex-direction: column;
 
     }
     .get-start-box{
         width: 100%;
     }
     .get-start-box h3{
         margin: 24px 0px;
     }
     .get-start-box ul li{
         margin-bottom: 10px;
     }

     /* copyright */

     .copy-right{
         width: 100%;
         padding: 0 15px;
     }
 }